.font-family-ali {
    font-family: ali;
}

@font-face {
    font-family: ali;
    src: url(../font/Digikala.woff);
    src: url(../font/Digikala.eot);
    src: url(../font/Digikala.ttf);
    src: url(../font/Digikala.woff2);
}

.font {
    font-size: 14px;
}

.font-1 {
    font-size: 14px;
}

.font-2 {
    font-size: 14px;
}

.font-3 {
    font-size: 26px;
}

.font-4 {
    font-size: 12px;
}

.font-5 {
    font-size: 9px;
}

.font-6 {
    font-size: 16px;
}